<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/6.2/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="CleanNoMenu" />
<f:section name="headline"><f:translate key="headline.dashboard" /></f:section>
<f:section name="content">
    <f:for each="{caches}" as="cache" key="cacheIdentifier">
        <f:render partial="DashboardCache" arguments="{cache: cache, cacheIdentifier: cacheIdentifier}" />
    </f:for>
</f:section>