<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/6.2/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="CleanNoMenu" />
<f:section name="headline"><f:translate key="headline.health" />: {identifier}</f:section>
<f:section name="content">
    <table class="table table-striped table-hover">
        <thead />
        <tfoot>
            <tr>
                <td colspan="2"><f:link.action action="dashboard">&lt; <f:translate key="action.dashboard" /></f:link.action></td>
            </tr>
        </tfoot>
        <tbody>
            <f:for each="{health.summary}" as="value" key="label">
            <tr>
                <td><strong><f:translate key="{label}" default="{label}" /></strong></td>
                <td>{value}</td>
            </tr>
            </f:for>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <f:for each="{health.data}" as="value" key="label">
                <tr>
                    <td><strong><f:translate key="{label}" default="{label}" /></strong></td>
                    <td>{value}</td>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:section>