<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/6.2/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="CleanNoMenu" />
<f:section name="headline"><f:translate key="headline.list" />: {identifier} ({tag})</f:section>
<f:section name="content">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td style="min-width: 150px;"><f:translate key="cache.entries.information" /></td>
                <td style="min-width: 150px;"><f:translate key="cache.entries.tags" /></td>
                <td><f:translate key="cache.entries.preview" /></td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"><f:link.action action="dashboard">&lt; <f:translate key="action.dashboard" /></f:link.action></td>
            </tr>
        </tfoot>
        <tbody>
        <f:for each="{entries}" as="entry" key="entryIdentifier">
            <tr>
                <td colspan="3"><strong>{entryIdentifier}</strong></td>
            </tr>
            <tr>
                <td><f:format.raw>{entry.info}</f:format.raw><br /><br />{entry.format}</td>
                <td>{entry.tags}</td>
                <td>{entry.preview}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>