<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/6.2/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="table table-striped table-hover" style="max-width: 640px;">
    <thead>
    <tr>
        <th style="width: 60%;">{cacheIdentifier}</th>
        <th><f:for each="{cache.groups}" as="group">{group}&nbsp;</f:for></th>
    </tr>
    </thead>
    <tfoot />
    <tbody>
        <tr>
            <td colspan="2">{cache.backend}<br />{cache.frontend}</td>
        </tr>
        <f:for each="{cache.health.summary}" as="value" key="label">
        <tr>
            <td><strong><f:translate key="{label}" /></strong></td>
            <td>{value}</td>
        </tr>
        </f:for>
        <f:for each="{cache.options}" as="value" key="label">
        <tr>
            <td><strong>[<f:translate key="cache.option" />] {label}</strong></td>
            <td>{value}</td>
        </tr>
        </f:for>
        <tr>
            <td><f:link.action action="list" arguments="{identifier: cacheIdentifier}">&gt; <f:translate key="action.list" /></f:link.action></td>
            <td><f:link.action action="health" arguments="{identifier: cacheIdentifier}">&gt; <f:translate key="action.health" /></f:link.action></td>
        </tr>
    </tbody>
</table>
