<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/6.2/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.container>
    <div class="module" data-module-id="" data-module-name="">
        <div class="module-docheader t3js-module-docheader">
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
                <div class="module-docheader-bar-column-left">&nbsp;</div>
                <div class="module-docheader-bar-column-right">
                    <f:be.pageInfo />
                    <f:be.pagePath />
                </div>
            </div>
        </div>
        <div class="module-body t3js-module-body">
            <h1><f:render section="headline" /></h1>
            <f:flashMessages />
            <f:render section="content" />
        </div>

    </div>
</f:be.container>